<schema xmlnttp://www.ascc.net/xml/schematron" >
     <pattern name="id is the only permited attribute name">
          <rule contex              <report test="@*[not(name()='id')]">Attribute
                    <name path="@*[not(name()='id')] in element
                    <name/>
               </report>
          </rule>
     </pattern>
</schema>

