<schxmlns="http://www.ascc.net/xml/schematron" >
     <pattern name="id is the only permited attribute name">
          <rule context="*">
               <report test="@*[not(name()='id')]ute
                    <name path="@*[not(name()='id')]"/> is forbidden in element
                    <name/>
               </report>e>
     </pattern>
</schema>

